<!--
  <h2> Listagem </h2>
-->


<h2><br></h2>
<div class="container">

<div>
  <form [formGroup]="form" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" formControlName='search' placeholder="Pesquisar Curso"
      aria-label="Search">

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active btn btn-dark">
        <input (click)="listar()" type="radio" name="options" id="option1" autocomplete="off" checked> Categoria
      </label>
      <label class="btn btn-secondary btn btn-dark">
        <input (click)="listarAZ()" type="radio" name="options" id="option2" autocomplete="off"> A-Z
      </label>
      <label class="btn btn-secondary btn btn-dark">
        <input (click)="listarZA()" type="radio" name="options" id="option2" autocomplete="off"> Z-A
      </label>
      <label class="btn btn-secondary btn btn-dark">
        <input (click)="listarAZprof()" type="radio" name="options" id="option2" autocomplete="off"> A-Z Professor
      </label>
      <label class="btn btn-secondary btn btn-dark">
        <input (click)="listarZAprof()" type="radio" name="options" id="option3" autocomplete="off"> Z-A Professor
      </label>
    </div>
  </form>
</div>


<br>
<div class="row">

  <div class="col-sm-12 m-1" *ngFor="let c of filtredCurso">

    <div class="card">
      <div class="card-body">
        <img class="card-img imagemtodos rounded float-left" src={{c.link_imagem}}>
        <a href={{c.link}}>
          <p> {{ c?.titulo }} </p>
        </a>
        <a href={{c.link}}>
          <span>{{c.prof}}</span><br>
        </a>
        <small class=" align-text-bottom">{{c.categoria}}</small>
      </div>
    </div>
  </div>
</div>

</div>
<br>