

<h2><br></h2>
<div class="container">

  <div>
    <form [formGroup]="form" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" formControlName='search' placeholder="Pesquisar Curso"
        aria-label="Search">

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active btn btn-dark">
          <input (click)="listar()" type="radio" name="options" id="option1" autocomplete="off" checked> Relevância
        </label>
        <label class="btn btn-secondary btn btn-dark">
          <input (click)="listarAZ()" type="radio" name="options" id="option2" autocomplete="off"> A-Z
        </label>
        <label class="btn btn-secondary btn btn-dark">
          <input (click)="listarZA()" type="radio" name="options" id="option2" autocomplete="off"> Z-A
        </label>
        <label class="btn btn-secondary btn btn-dark">
          <input (click)="listarAZprof()" type="radio" name="options" id="option2" autocomplete="off"> A-Z Professor
        </label>
        <label class="btn btn-secondary btn btn-dark">
          <input (click)="listarZAprof()" type="radio" name="options" id="option3" autocomplete="off"> Z-A Professor
        </label>
      </div>
    </form>
  </div>


  <br>
  <div class="row">
    <div class="col-sm-6 col-lg-4 mb-3" *ngFor="let c of filtredCurso">
      <div class="card cardcategoria">
        <a href={{c.link}}>
          <img class="card-img-top" src="{{c.link_imagem}}" alt="Imagem de capa do card">
        </a>
        <div class="card-body">
          <a href={{c.link}}>
            <h5 class="card-title">{{c.titulo}}</h5>
          </a>
          <a href={{c.link}}>
            <p class="card-text">{{c.descricao}}</p>
          </a>
        </div>
        <div class="text">
          <p>&nbsp;&nbsp;
            <a href={{c.link_prof}}>
              <svg class="bi bi-person-lines-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
              </svg> &nbsp;
              {{c.prof}}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>


<!--
<div class="row" *ngFor="let c of cursos">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{c.descricao}}</h5>
        <p class="card-text">{{c.descricao}}</p>
        <a href="#" class="btn btn-primary">Visitar</a>
      </div>
    </div>
  </div>
</div>-->


<!--
<div class="card-columns col-md-11 container">

  <div class="card border-dark" *ngFor="let c of cursos">
    <a href={{c.link}}>
      <img class="card-img-top" src={{c.link_imagem}} alt="Imagem de capa do card">
    </a>
    <div class="card-body">
      <a href={{c.link}}>
        <h5 class="card-title">{{c.titulo}}</h5>
      </a>
      <a href={{c.link}}>
        <p class="card-text">{{c.descricao}}</p>
      </a>
      <p class="card-text">
        <svg class="bi bi-person-lines-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
        </svg>
        &nbsp;
        <a href={{c.link_prof}}> {{c.prof}}</a></p>
      <small class="text-muted">{{c.categoria}}</small>
    </div>
  </div>
</div>




<div class=" row row-cols-2 row-cols-md-4">

  <div class="col mb-a" *ngFor="let c of cursos"> 
    <div class="card">
      <a href={{c.link}}>
      <img src= {{c.link_imagem}} class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <a href={{c.link}}>
        <h5 class="card-title">{{c.titulo}}</h5>
        </a>
        <a href={{c.link}}>
        <p class="card-text">{{c.descricao}}</p>
        </a>
        <p class="card-text" alt="Visitar Perfil">
          <svg class="bi bi-person-lines-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
           </svg>
            &nbsp;
          <a href={{c.link_prof}}> {{c.prof}}</a></p> 
      </div>        
    </div>
  
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-4 mb-3" *ngFor="let c of cursos">
      <div class="card cardcategoria">
        <a href={{c.link}}>
          <img class="card-img-top" src="{{c.link_imagem}}" alt="Imagem de capa do card">
        </a>
        <div class="card-body">
          <a href={{c.link}}>
            <h5 class="card-title">{{c.titulo}}</h5>
          </a>
          <a href={{c.link}}>
            <p class="card-text">{{c.descricao}}</p>
          </a>
        </div>
        <div class="text">
          <p>&nbsp;&nbsp;
            <a href={{c.link_prof}}>
              <svg class="bi bi-person-lines-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
              </svg> &nbsp;
              {{c.prof}}</a></p>
        </div>


      </div>
    </div>
  </div>
</div>

-->