<br>
<div class="container" align="center">
  <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar com grupos de botões">

    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal"
      routerLink="/negocios">Negócios</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal"
      routerLink="/design">Design</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal"
      routerLink="/desenvolvimento">Desenvolvimento</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal" routerLink="/financas">Finanças
      e Contabilidade</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal" routerLink="/saude">Saúde e
      Fitness</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal" routerLink="/ti">TI e
      Software</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal" routerLink="/estilo">Estilo de
      Vida</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal"
      routerLink="/marketing">Marketing</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal"
      routerLink="/musica">Música</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal"
      routerLink="/produtividade">Produtividade no Escritório</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal"
      routerLink="/pessoal">Desenvolvimento Pessoal</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal"
      routerLink="/fotografia">Fotografia</button>
    <button type="button" class="btn btn-transparent botoes" data-target="#exampleModal" routerLink="/ensino">Ensino e
      Estudo
      Acadêmico</button>

  </div>

</div>
<br>
<div class="jumbotron jumbotron-fluid fundo">
  <div class="container">
    <h1 class="display-2 container text-center">FreeCourses</h1>
    <p class="lead container text-center">Esta página tem o objetivo de selecionar apenas cursos gratuitos</p>
  </div>
</div>




<div class="accordion " id="accordionExample">
  <div class="card border-0">
    <div class="card-body bg-transparent border-0" id="headingOne">
      <h5 class="mb-0 border-0">
        <button class=" btn btn-outline-dark btn-lg btn-block btn-link botoes tiralink" type="button"
          data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Melhores na Categoria Desenvolvimento
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">

      <div class="container col-md-10">
        <div class="card-deck">
          <div class="card border-dark" *ngFor="let c of cursosdesenvolvimento | slice:0:3">
            <a href={{c.link}}>
              <img class="card-img-top" src="{{c.link_imagem}}" alt="Imagem de capa do card">
            </a>
            <div class="card-body">
              <a href={{c.link}}>
                <h5 class="card-title">{{c.titulo}}</h5>
              </a>
              <a href={{c.link}}>
                <p class="card-text">{{c.descricao}}</p>
              </a>
            </div>
            <div class="card-footer">
              <a routerLink="/desenvolvimento">
                <span class="text">{{c.categoria}}
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-0">
      <div class="card border-0">
        <div class="card-body bg-transparent" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-outline-dark btn-lg btn-block btn-link botoes tiralink" type="button"
              data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Melhores na Categoria Negócios
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

          <div class="container col-md-10">
            <div class="card-deck">
              <div class="card border-dark" *ngFor="let c of cursosnegocios | slice:0:3">
                <a href={{c.link}}>
                  <img class="card-img-top" src="{{c.link_imagem}}" alt="Imagem de capa do card">
                </a>
                <div class="card-body">
                  <a href={{c.link}}>
                    <h5 class="card-title">{{c.titulo}}</h5>
                  </a>
                  <a href={{c.link}}>
                    <p class="card-text">{{c.descricao}}</p>
                  </a>
                </div>
                <div class="card-footer">
                  <a routerLink="/negocios">
                    <span class="text">{{c.categoria}}
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card border-0">
          <div class="card border-0">
            <div class="card-body bg-transparent border-0" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-outline-dark btn-lg btn-block btn-link botoes tiralink" type="button"
                  data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                  aria-controls="collapseThree">
                  Melhores na Categoria Design
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="container col-md-10">
                <div class="card-deck">
                  <div class="card border-dark" *ngFor="let c of cursosdesign | slice:0:3">
                    <a href={{c.link}}>
                      <img class="card-img-top" src="{{c.link_imagem}}" alt="Imagem de capa do card">
                    </a>
                    <div class="card-body">
                      <a href={{c.link}}>
                        <h5 class="card-title">{{c.titulo}}</h5>
                      </a>
                      <a href={{c.link}}>
                        <p class="card-text">{{c.descricao}}</p>
                      </a>
                    </div>
                    <div class="card-footer">
                      <a routerLink="/design">
                        <span class="text">{{c.categoria}}
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-0">
          <div class="card border-0">
            <div class="card-body bg-transparent" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-outline-dark btn-lg btn-block btn-link botoes tiralink" type="button"
                  data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  Melhores na Categoria TI & Software
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">

              <div class="container col-md-10">
                <div class="card-deck">
                  <div class="card border-dark" *ngFor="let c of cursosti | slice:0:3">
                    <a href={{c.link}}>
                      <img class="card-img-top" src="{{c.link_imagem}}" alt="Imagem de capa do card">
                    </a>
                    <div class="card-body">
                      <a href={{c.link}}>
                        <h5 class="card-title">{{c.titulo}}</h5>
                      </a>
                      <a href={{c.link}}>
                        <p class="card-text">{{c.descricao}}</p>
                      </a>
                    </div>
                    <div class="card-footer">
                      <a routerLink="/ti">
                        <span class="text">{{c.categoria}}
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <h1> &nbsp; </h1>