<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">FreeCourses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/negocios">Negócios</a>
          <a class="dropdown-item" routerLink="/design">Design</a>
          <a class="dropdown-item" routerLink="/desenvolvimento">Desenvolvimento</a>
          <a class="dropdown-item" routerLink="/financas">Finanças e Contabilidade</a>
          <a class="dropdown-item" routerLink="/estilo">Estilo de Vida</a>
          <a class="dropdown-item" routerLink="/marketing">Marketing</a>
          <a class="dropdown-item" routerLink="/musica">Música</a>
          <a class="dropdown-item" routerLink="/saude">Saúde e Fitness</a>
          <a class="dropdown-item" routerLink="/ti">TI e Software</a>
          <a class="dropdown-item" routerLink="/produtividade">Produtividade no Escritório</a>
          <a class="dropdown-item" routerLink="/pessoal">Desenvolvimento Pessoal</a>
          <a class="dropdown-item" routerLink="/fotografia">Fotografia</a>
          <a class="dropdown-item" routerLink="/ensino">Ensino e Estudo Acadêmico</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link" href="#" role="button" routerLink="/todos">
          Todos os Cursos
        </a>
      </li>
    </ul>
  </div>
</nav>





<h1> &nbsp; </h1>

<router-outlet></router-outlet>



<div class="content contentrodape">
</div>
<footer id="myFooter">
  <div class="container bg-dark">
    <div class="row">
      <div class="col-sm-3">
        <h5>Categorias</h5>
        <ul>
          <li><a routerLink="/negocios">Negócios</a></li>
          <li><a routerLink="/design">Design</a></li>
          <li><a routerLink="/desenvolvimento">Desenvolvimento</a></li>
          <li><a routerLink="/financas">Finanças e Contabilidade</a></li>
          <li><a routerLink="/estilo">Estilo de Vida</a></li>
          <li><a routerLink="/marketing">Marketing</a></li>


        </ul>
      </div>
      <div class="col-sm-3">
        <h5></h5>
        <ul>
          <li><a routerLink="/musica">Música</a></li>
          <li><a routerLink="/saude">Saúde e Fitness</a></li>
          <li><a routerLink="/ti">TI e Software</a></li>
          <li><a routerLink="/produtividade">Produtividade no Escritório</a></li>
          <li><a routerLink="/pessoal">Desenvolvimento Pessoal</a></li>
          <li><a routerLink="/fotografia">Fotografia</a></li>
          <li><a routerLink="/ensino">Ensino e Estudo Acadêmico</a></li>


        </ul>
      </div>
      <div class="col-sm-3">
        <h5></h5>

      </div>
      <div class="col-sm-3 info">
        <h5>FreeCourses</h5>
        <p> Site desenvolvido para exibir apenas cursos gratuitos, facilitando a escolha por alunos da Fatec </p>
      </div>
    </div>
  </div>


</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>