/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

a:link {  text-decoration:none;  color: black;} 
a:visited { text-decoration: none;  color: black;}
a:focus { text-decoration: none; color: black; }
a:hover, a:active { text-decoration: none;  color: black;}


.tiralink{
    text-decoration:none;  color: black;
}
.tiralink:hover, .tiralink:active, .tiralink:visited, .tiralink:focus{text-decoration:none;  }

.jumbotron {
    background-image: url(/src/assets/img/1.jpg);
    background-size: cover;
    height: 100%;}



.botoes:hover{
background-color: #343a40;
color: #f8f9fa
}


.cardcategoria{
    width: 100%;
    height: 100%;
   
}
    
.fundo{
    color: honeydew;
    filter: grayscale(100%);
    background-image: url(../src/assets/img/1.jpg);
}









#myFooter {
    background-color: #343a40;
    color: white;
}

#myFooter .row {
    margin-bottom: 0px;
}

#myFooter .info{
    text-align: justify; 
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 0px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #343a40;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 0px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}



/* CSS utilizado para posicionar o rodapé no final da página. */
/* Você pode remover isso. */



.contentrodape{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 10%;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}